/* RESET */
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  margin-right: 0;
}

/* CODIGO PAGINA EN DESKTOP */

header,
nav,
main,
footer {
  width: 80%;
  margin: 0 auto;
}
header {
  min-height: 15rem;
  background-color: pink;
}
nav {
  min-height: 7rem;
  background-color: orange;
}
main {
  min-height: 20rem;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
footer {
  min-height: 7rem;
  background-color: chartreuse;
}
.ponerBorde {
  border: 0.3rem solid black;
}
main div {
  width: 30%;
  min-height: 5rem;
  background-color: rgb(211, 211, 211);
  border: 0.02rem solid red;
}
.izquierda {
  background-color: rgba(203, 233, 69, 0.651);
}
.derecha {
  background-color: rgba(61, 226, 61, 0.486);
}
main div a {
  font-size: 1rem;
  color: rgb(92, 5, 5);
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
  border: 0.1rem solid blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7rem;
}
nav ul li {
  width: 8rem;
  height: 3.5rem;
  /* background-color: burlywood;
       border: 0.1rem solid green;*/
  margin: 0.5rem;
}
nav ul li a {
  font-size: 2rem;
  color: rgb(203, 180, 224);
  display: block;
  text-align: center;
  padding-top: 0.2rem;
  background-color: rgb(10, 112, 10);
  border-radius: 0.4rem;
}
nav ul li a:hover {
  background-color: rgb(203, 180, 224);
  color: rgb(10, 112, 10);
  transition: 500ms;
}

header {
  display: flex;
}

header>div {
  border: 0.2rem solid red; 
}

header > div.logo {
  width: 25%;
}

header > div.titulo {
  width: 75%;
  display: flex;
  flex-direction: column; /*determina el eje principal, si es row es el horizontal y si es column es el vertical */
  justify-content: center; /* justificacion del eje principal*/
  align-items: center;
}

h1,
h2,
p {
  width: 50%;
  background-color: cadetblue;
  margin: 0.5rem;
  border: 0.3rem solid green;
  text-align: center;
}

/* CODIGO PAGINA EN TABLET */
@media screen and (max-width: 900px) {
  nav ul {
    flex-direction: column;
  }

  main div {
    width: 45%;
  }

  body {
    background-color: aqua;
  }
}
/* CODIGO PAGINA EN MOBILE */
@media screen and (max-width: 602px) {
  main div {
    width: 90%;
  }
  body {
    background-color: blue;
  }
}
